
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lemon&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #0000FF;
    --font-primaria: 'Courier New', Courier, monospace;
    --font-secundaria: "Krona One", sans-serif;

}

.outro-tema{
    --cor-primaria: #22D4FD;
    --cor-secundaria: #f70000;
    --cor-terciaria: black;
    --cor-hover: #0000FF;
    --font-primaria: 'Courier New', Courier, monospace;
    --font-secundaria: "Krona One", sans-serif;
}
.mudar-tema{
    background-color: pink;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;

}
#btn{
    display: none;
}

body{
    /* height: 100vh; */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: sans-serif;
    box-sizing: border-box;

    
}

.titulo-destacado{
    color: aqua;
}

.cabecalho{
    display: flex;
    background-color: var(--cor-terciaria);
    padding: 2% 0%  0% 15%;

}

.cabecalho__menu{
    gap: 80px;
}

.cabecalho__menu__link{
    
    font-family: var(--font-primaria);
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: #006bf7;
    padding: 10px 15px;
    
}

.cabecalho__menu__link:hover{
    color: white;
    
}

.conteudo{
   
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.conteudo__inicio{
    width: 50%;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-secundaria);
}

.conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.conteudo__botoes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
}

.apresentacao__botoes__subtitulo{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
.conteudo__botoes__apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--font-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.conteudo__botoes__apresentacao:hover{
    background-color: rgb(23, 24, 23);
    text-decoration: underline;
    border: 3px solid var(--cor-hover);

}

.rodape{
    color: rgb(255, 0, 0);
    padding: 24px;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-primaria);
    font-weight: bold;
}

.conteudo__certificados{
    padding: 15px 0 0 32px;
    margin-top: 2rem;
}

.certificados__lista{
    list-style: none;
    margin-bottom: 50%;
}

.certificados__lista__link:not(:last-child){
    margin-bottom: 24px;
}

.certificados__link{
    text-decoration: none;
    color: white;
}

.certificados__link:hover{
    color: #22D4FD;
}

.conteudo__imagem{
    width: 50%;
}

@media (max-width: 1200px) {
    
    .cabecalho{
        padding: 10%;
        display: flex;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .conteudo{
        flex-direction: column-reverse;
        padding: 5% ;
    }

    .conteudo__inicio{
        width: auto;
    }
   
}